@import '../../node_modules/platypusui/dist/platypus';

* {
    box-sizing: border-box;
}

@import '../src/templatecontrols/footer/footer.tc.less';
@import '../src/templatecontrols/topnav/topnav.tc.less';

@import '../src/viewcontrols/about/about.vc.less';
@import '../src/viewcontrols/home/home.vc.less';
@import '../src/viewcontrols/howtoplay/howtoplay.vc.less';
@import '../src/viewcontrols/promotions/promotions.vc.less';

.plat-modal > .plat-modal-container > .modal-content  {
            font-family: WorkSans-ExtraBold, sans-serif;
            text-transform: uppercase;
            background-color: rgba(24, 33, 68, 1);
            color: #fffffe;
            height: 100vh;
            width: 100%;
            text-align: center;
                .plat-link {
                    color: #fffffe;
                }
                #cover-logo {
                    height: 3em;
                    width: 4em;
                    margin-top: 2em;
                }
                .low-images img {
                    height: 3em;
                    width: 3em;
                }
            }