& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="howtoplay-vc"] {

    }
}

@font-face {
    font-family: "WorkSans-ExtraBold";
    src: url("../../fonts/WorkSans/WorkSans-ExtraBold.ttf")
}

@font-face {
    font-family: "WorkSans-ExtraLight";
    src: url("../../fonts/WorkSans/WorkSans-ExtraLight.ttf")
}

@font-face {
    font-family: "WorkSans-Regular";
    src: url("../../fonts/WorkSans/WorkSans-Regular.ttf")
}

@font-face {
    font-family: "Roboto-Condensed";
    src: url("../../fonts/Roboto/Roboto-Condensed.ttf")
}

.main-container {
    background-color: #dedede;
}

.howtoplay-main{
    font-family: WorkSans-ExtraLight;
    font-size: 3em;
    color: white;
    text-align: center;
    height: 5.5em;
    line-height: 5.5em;
    white-space: nowrap;
    padding: 0 !important;
    margin: 0 !important;
}

.top-howtoplay-image {
    background-image: url(/images/howtoplay/how-to-play-hero.jpg);
    background-size: cover;
    background-position: center center;
}

.section-title{
    font-family: Roboto-Condensed;
    color: #bebec0;
    font-size: 2em;
}

.video-container {
    border-right: 2px solid #9e9f9e;
    border-bottom: 2px solid #9e9f9e;
    border-radius: 0.4em;
    background-color: #fffffe;
    height: 19em;
    width: 17em;
    display: inline-block;
}

.video-image {
    width: 10em;
}

.headline {
    font-family: WorkSans-ExtraBold;
    color: #3c99c4;
    font-size: 1em;
}

.content {
    font-family: WorkSans-Regular;
    font-size: 1em;
}

.video-button {
    background-color: #393a3c;
    border-radius: 7px;
    color: white;
    font-family: Roboto-Condensed;
    font-size: 1em;
    // height: 3em;
    // width: 13em;
}