& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="howtoplay-vc"] {

    }
}

@font-face {
    font-family: "WorkSans-ExtraBold";
    src: url("../../fonts/WorkSans/WorkSans-ExtraBold.ttf")
}

@font-face {
    font-family: "WorkSans-ExtraLight";
    src: url("../../fonts/WorkSans/WorkSans-ExtraLight.ttf")
}

@font-face {
    font-family: "WorkSans-Regular";
    src: url("../../fonts/WorkSans/WorkSans-Regular.ttf")
}

@font-face {
    font-family: "Roboto-BoldCondensed";
    src: url("../../fonts/Roboto/Roboto-BoldCondensed.ttf")
}

@font-face {
    font-family: "Roboto-Condensed";
    src: url("../../fonts/Roboto/Roboto-Condensed.ttf")
}

.main-container {
    background-color: #dedede;
}

.howtoplay-main{
    font-family: WorkSans-ExtraLight;
    font-size: 3em;
    color: white;
    text-align: center;
    height: 5.5em;
    line-height: 5.5em;
    white-space: nowrap;
    padding: 0 !important;
    margin: 0 !important;
}

.top-howtoplay-image {
    background-image: url(/images/howtoplay/how-to-play-hero.jpg);
    background-size: cover;
    background-position: center center;
}

.tab-container {
    text-align: center;
    border-bottom: #a6a8ab 2px solid;
    height: 3.5em;
    background-color: white;
}
.tab {
    border: none;
    height: 3.4em;
    width: 10em;
    background-color: white;
}

.tab-title {
    font-family: WorkSans-Regular;
    color: #393a3c;
    font-size: 1.25em;
    height: 3.5em;
    line-height: 3.5em;
    white-space: nowrap;
}

// ------------GETTING STARTED PAGE BEGINS HERE----------------

.getting-started-main-container {
    padding-bottom: 2.5em;
    background-color: #dedede;
}

.coming-soon-container {
    background-color: white;
}

.coming-soon-text {
    font-family: WorkSans-ExtraBold;
    font-size: 1.5em;
}

.coming-soon-p-text {
    font-family: WorkSans-ExtraBold;
    font-size: 1em;
    color: dimgray;
}

.email-container input {
    background-color: white;
    font-family: WorkSans-Regular;
}

.subscribe-button {
    background-color: #393a3c;
    border-radius: 7px;
    color: white;
    font-family: Roboto-Condensed;
    font-size: 1em;
    height: 3em;
    width: 13em;
    margin-left: 1em;
    margin-bottom: 1.25em;
}

.first-p {
    font-family: WorkSans-ExtraBold;
    font-size: 1.1em;
    color: #3c99c4;
}

.second-p {
    font-family: Roboto-BoldCondensed;
    font-size: 1em;
    color: dimgray;
}

.overview-title {
    font-family: WorkSans-ExtraBold;
    font-size: 3em;
    color: #34ba95;
}

.number-container { 
   width: 2.5em;
   height: 2.5em;
   background: #3c99c4; 
   border-radius: 70px;
}

.number {
    font-family: WorkSans-ExtraBold;
    color: white;
}

.overview-list-headline {
    font-family: Roboto-Condensed;
    color: #393a3c;
    font-size: 2em;
}

hr {
    width:100%;
    height:1px;
    background: dimgray;
}

.overview-p {
    font-family: WorkSans-Regular;
    font-size: 1em;
    color: dimgray;
}

.score-points-headline {
    font-family: WorkSans-ExtraBold;
    color: #3c99c4;
    font-size: 1.5em;
}

.score-points-p {
    font-family: Roboto-BoldCondensed;
    font-size: 1.5em;
    color: dimgray;
}

// ------------VIDEOS PAGE BEGINS HERE----------------

.videos-main-container {
    padding-bottom: 2.5em;
    background-color: #dedede;
}

.section-title-container {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.section-title{
    font-family: Roboto-Condensed;
    color: #a6a8ab;
    font-size: 2em;
}

.row-container {
    width: 100%;
}

.video-row {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.video-text {
    text-align: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: .6em;
}

.video-container-left {
    border-right: 2px solid #9e9f9e;
    border-bottom: 2px solid #9e9f9e;
    border-radius: 0.4em;
    background-color: #fffffe;
    height: 17em;
    width: 17em;
    display: inline-block;
}

.video-container-center {
    border-right: 2px solid #9e9f9e;
    border-bottom: 2px solid #9e9f9e;
    border-radius: 0.4em;
    background-color: #fffffe;
    height: 17em;
    width: 17em;
    display: inline-block;
    margin-right: 2em;
    margin-left: 2em;
}

.video-container-right {
    border-right: 2px solid #9e9f9e;
    border-bottom: 2px solid #9e9f9e;
    border-radius: 0.4em;
    background-color: #fffffe;
    height: 17em;
    width: 17em;
    display: inline-block;
}

.video-image img {
    width: 100%;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

.headline {
    font-family: WorkSans-ExtraBold;
    color: #3c99c4;
    font-size: 1.5em;
}

.content {
    font-family: WorkSans-Regular;
    font-size: 1em;
}

.video-button {
    background-color: #393a3c;
    border-radius: 7px;
    color: white;
    font-family: Roboto-Condensed;
    font-size: 1em;
    height: 2.5em;
    width: 15em;
}