& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="about-vc"] {

    }
}

.main-container {
    background-color: #dedede;
}

.top-about-image {
  background-position: -75px -55px;
}

.members {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    width: 65%;
    background: -webkit-linear-gradient(top, #2d97d2, #2d97d2 15%, white 15%, white);
}

.member-image {
    width: 15%;
    margin-left: -60%;
    margin-top: -3.3%;
    
}

.member-name {
    font-family: Worksans-ExtraBold;
    font-size: 2em;
    
}

.member-postition {
    font-family: Worksans-ExtraBold;
    font-size: 1em;
}

.member-p {
    font-family: Roboto-Condensed;
    font-size: 10px;
}
.member-title {
    font-family: Worksans-ExtraBold;
    font-size: 2em;
}