& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="about-vc"] {

    }
}

@font-face {
    font-family: "WorkSans-ExtraBold";
    src: url("../../fonts/WorkSans/WorkSans-ExtraBold.ttf")
}

@font-face {
    font-family: "WorkSans-ExtraLight";
    src: url("../../fonts/WorkSans/WorkSans-ExtraLight.ttf")
}

@font-face {
    font-family: "WorkSans-Regular";
    src: url("../../fonts/WorkSans/WorkSans-Regular.ttf")
}

@font-face {
    font-family: "Roboto-Condensed";
    src: url("../../fonts/Roboto/Roboto-Condensed.ttf")
}

.main-container {
    background-color: #dedede;
}

.about-main{
    font-family: WorkSans-ExtraLight;
    font-size: 3em;
    color: white;
    text-align: center;
    height: 5.5em;
    line-height: 5.5em;
    white-space: nowrap;
    padding: 0 !important;
    margin: 0 !important;
}

.top-about-image {
    background-image: url(/images/about/about-hero.jpg);
    background-size: cover;
    background-position: center center;
}

.how-image-container {
    width: 70%;
    float: right;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.how-text-container {
    width: 70%;
    margin-right: 20%;
    float: left;
    padding-top: 1.5em;
    
}

.how-started {
    background-color: white;
}

.how-main {
    width: 100%;
    font-family: WorkSans-ExtraBold;
    font-size: 2em;
    float: left;
    margin-right: 20%;
}

.how-second {
    width: 100%;
    color: #a6aaad;
    font-family: WorkSans-ExtraBold;
    font-size: 1.75em;
    float: left;
    padding-bottom: .5em;
    margin-right: 20%;
}

hr {
    width:100%;
    height:1px;
    background: dimgray;
}

.how-p {
    width: 100%;
    font-family: Worksans-Regular;
    font-size: 1.15em;
    margin-right: 20%; 
}

.subscribe-container {
    background-color: #2d97d2;
    text-align: center;
}

input {
    width: 50%;
    height: 3em;
    border-radius: 7px;
    font-size: 1em;
    font-family: Worksans-Regular;
    margin-bottom: 1.25em;
}

.subscribe-button {
    background-color: #393a3c;
    border-radius: 7px;
    color: white;
    font-family: Worksans-Regular;
    font-size: 1em;
    height: 3em;
    width: 13em;
    margin-left: 1em;
    margin-bottom: 1.25em;
}

.subscribe-container p {
    color: white;
    text-align: center;
    font-family: Roboto-Condensed;
}

.subscribe-container input {
    background-color: white;
    font-family: WorkSans-Regular;
}

.main-team-container {
    text-align: center;
    margin-top: 1em;
}

.member-title {
    font-family: WorkSans-ExtraBold;
    font-size: 3em;
    color: #34ba95;
}

.title-p {
    font-family: Roboto-Condensed;
    font-size: 1em;
    margin-left: 16%;
    margin-right: 16%;
}

.members {
    text-align: center;
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 1.5em;
    border-radius: 7px;
    width: 70%;
    background: -webkit-linear-gradient(top, #2d97d2, #2d97d2 75px, white 75px, white);
    margin-bottom: 5%;
    position: relative;
}

.member-image {
    width: 15%;
    position: absolute;
    top: -2.5em;
    left: -4.5em;
}

.member-name-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 25%;
    height: 5em;
    padding-top: 1em;
}

.member-name {
    font-family: WorkSans-ExtraBold;
    font-size: 1.5em;
    color: white;
}

.member-position {
    font-family: WorkSans-ExtraBold;
    font-size: 1em;
    color: white;
}

.member-p-container {
    text-align: center;
}

.member-p {
    font-family: WorkSans-Regular;
    font-size: 1em;
    padding: 1em;
}

.fantasy-sports {
    text-align: center;
    background: white;
    padding-top: 1em;
}

.fantasy-title {
    font-family: WorkSans-ExtraBold;
    font-size: 3em;
    color: #34ba95;
}

.fantasy-p {
    font-family: Roboto-Condensed;
    font-size: 1em;
    margin-left: 16%;
    margin-right: 16%;
}