& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="about-vc"] {

    }
}

@font-face {
    font-family: "WorkSans-ExtraBold";
    src: url("../../fonts/WorkSans/WorkSans-ExtraBold.ttf")
}

@font-face {
    font-family: "WorkSans-ExtraLight";
    src: url("../../fonts/WorkSans/WorkSans-ExtraLight.ttf")
}

@font-face {
    font-family: "WorkSans-Regular";
    src: url("../../fonts/WorkSans/WorkSans-Regular.ttf")
}

@font-face {
    font-family: "Roboto-Condensed";
    src: url("../../fonts/Roboto/Roboto-Condensed.ttf")
}

.main-container {
    background-color: #dedede;
}

.about-main{
    font-family: WorkSans-ExtraLight;
    font-size: 3em;
    color: white;
    text-align: center;
    height: 5.5em;
    line-height: 5.5em;
    white-space: nowrap;
    padding: 0 !important;
    margin: 0 !important;
}


.top-about-image {
    background-image: url(/images/about/about-hero.jpg);
    background-size: cover;
    background-position: center center;
}

.how-started {
    background-color: white;
}

.how-main {
    font-family: WorkSans-ExtraBold;
    font-size: 2em;
}

.how-second {
    font-family: WorkSans-ExtraBold;
    font-size: 1em;
}

.how-p {
    font-family: Worksans-Regular;
    font-size: 1em;
}

.subscribe-container {
    background-color: #2d97d2;
}
.subscribe-button {
    background-color: #393a3c;
    border-radius: 5px;
    color: white;
    font-family: WorkSans-ExtraLight;
    font-size: 1em;
    height: 3em;
    width: 12em;
}

.subscribe-container p {
    color: white;
    text-align: center;
    font-family: Roboto-Condensed;
}

.plat-input {
    background-color: white;
    font-family: WorkSans-Regular;
}

.member-title {
    font-family: WorkSans-ExtraBold;
    font-size: 2em;
}

.title-p {
    font-family: Roboto-Condensed;
    font-size: 1em;
}

.members {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    width: 75%;
    background: -webkit-linear-gradient(top, #2d97d2, #2d97d2 25%, white 25%, white);
    margin-bottom: 5%;
}

.member-image {
    width: 25%;
    margin-left: -60%;
    margin-top: -4.2%;
}

.member-name {
    font-family: WorkSans-ExtraBold;
    font-size: 2em;
    margin-top: -10%
}

.member-postition {
    font-family: WorkSans-ExtraBold;
    font-size: 1em;
}

.member-p {
    font-family: WorkSans-Regular;
    font-size: 1em;
}

.fantasy-title {
    font-family: WorkSans-ExtraBold;
    font-size: 2em;
}

.fantasy-p {
    font-family: Roboto-Condensed;
    font-size: 1em;
}
