

.promo-modal {
    #platui > #Modal;
    .plat-modal-prompt(prompt-title-background-color; #edecec);
    .plat-modal-prompt(prompt-title-color; #3396bf);
}
    #register {
        position: relative;
        text-align: center;
        padding: 1em;
        display: inline-block;
    }

    #closeX {
        position: absolute;
        top: .1em;
        right: 0.1em;
        padding-top: 0;
        padding-right: .3em;
        background-color: transparent;
        color: black;
        font-size: 2em;
        border: transparent;
    }

    #inputStyle {
        font-family: WorkSans-Regular;
    }

    #modalName {
        width: 90%;
        background-color: #ffffff;
    }

     #modalEmail {
        width: 90%;
        background-color: #ffffff;
    }

    #modalZip {
        width: 45%;
        background-color: #ffffff;
    }

    #modalTeam {
        width: 45%;
        background-color: #ffffff;
        position: relative;
        color: #a6a6a6;
        height: 3em;
    }

    #modalregisterbtn {
        background-color: #3a3a3c;
        width: 12em;
        border-radius: .25em;
        font-family: Roboto-Condensed;
    }
    
    #modalText {
        font-family: WorkSans-Regular;
        width: 80%;
        text-align: center;
        margin: auto;
    }
    
    @media only screen and (max-width: 700px) {
            #modalZip {
                    width: 90%;
            }
            
            #modalTeam {
                    width: 90%;
            }

        }


& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="promotions-vc"] {
        
        @font-face {
                    font-family: 'Roboto-BoldCondensed';
                    src: url(/fonts/Roboto/Roboto-BoldCondensed.otf);
        }

        @font-face {
                    font-family: 'Roboto-Condensed';
                    src: url(/fonts/Roboto/Roboto-Condensed.otf);
        }
        @font-face {
                    font-family: 'WorkSans-Extrabold';
                    src: url(/fonts/WorkSans/WorkSans-ExtraBold.otf);
        }
        @font-face {
                    font-family: 'WorkSans-ExtraLight';
                    src: url(/fonts/WorkSans/WorkSans-ExtraLight.otf);
        }
        @font-face {
                    font-family: 'WorkSans-Regular';
                    src: url(/fonts/WorkSans/WorkSans-Regular.otf);
        }
        @font-face {
                    font-family: 'Roboto BoldCondensed';
                    src: url(/fonts/Roboto/Roboto-BoldCondensed.otf);
        }



        #banner {
                    text-align: center;
                    width: 100%;
        }

        #bannerpic {
                    background-image: url("/images/promotions/football3-hero.png");
                    background-size: cover;
                    background-position: center center;
                    height:18em;
        }

        #bannertext {
                    color: white;
                    font-family: WorkSans-ExtraLight;
                    font-size: 3em;
                    padding: 0 !important;
                    margin: 0 !important;
                    line-height: 3em;
                    height: 3em;
                    vertical-align: middle;  
        }
        
        #promo {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    max-width: 100%;
                    height: auto;
                    margin: 0 auto;
        }

        #promoText {
                    text-align: left;
                            
            #line1 {
                    font-family: Roboto-BoldCondensed;
                    color: grey;
                    margin-top: 8%;
                    font-size: 1.45em;

            }
            #line2 {
                    font-family: WorkSans-ExtraBold;
                    color: #29ba92;
                    font-size: 3em;
                    margin-top: 4%;
            }
            #line3 {
                    font-family: WorkSans-ExtraBold;
                    color: #29ba92;
                    font-size: 1.45em;
                    margin-top: 3%;
            }
            #line4 {
                    font-family: WorkSans-Regular;
                    color: #929292;
                    font-size: 1em;
                    margin-top: 4%;
            }
                
        }

        #registerbtn {
                    color: white;
                    background-color: #3a3a3c;
                    border-radius: .25em;
                    margin-top: 5%;
                    width: 12em;
        }
        
        #coolerAndWatch {
                height: 20em;
                display: block;
                margin: 0 auto;
                max-width: 100%;
        }



        @media only screen and (max-width: 700px) {
            #bannertext {
                    text-align: center;
            }
            
            #promoText {
                    text-align: center;
            }

        }
    }
}

