& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="home-vc"] {      
        @font-face {
            font-family: WorkSans-ExtraBold;
            src: url('../../fonts/WorkSans/WorkSans-ExtraBold.ttf');
        }
        @font-face {
            font-family: WorkSans-Regular;
            src: url('../../fonts/WorkSans/WorkSans-Regular.ttf');
        }
        @font-face {
            font-family: Roboto-Condensed;
            src: url('../../fonts/Roboto/Roboto-Condensed.ttf');
        }
        @font-face {
            font-family: Roboto-BoldCondensed;
            src: url('../../fonts/Roboto/Roboto-BoldCondensed.ttf');
        }
        
        .hero {
            background-image: url('../../images/home/coversharks-web-hero.jpg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            box-sizing: border-box;
            .right-nav, .left-nav {
                display: none;
            }
        }
        .hero-text {
            color: #fff;
            text-align: center;
            p {
                width: 70%;
                padding-top: 1em;
                margin: 0 auto;
                line-height: 1.8em;
                font-family: WorkSans-Regular, sans-serif;
            }
            .btn-align {
                width: 70%;
                margin: 0 auto;
            }
            .btn {
                background-color: #fff;
                text-transform: uppercase;
                border: none;
                border-radius: 0.5em;
                color: #4d4d4c;
                height: 3em;
                width: 11em;   
                margin-top: 1.2em;
                font-family: Roboto-Condensed;
                letter-spacing: 0.1em;            
            }
        }
        .blue-header {
            background-color: #318bb6;
            font-size: 3em;
            width: 75%;
            margin: 0 auto;
            padding: 0.2em 0;
            text-transform: uppercase;
            font-family: WorkSans-ExtraBold, sans-serif;
            letter-spacing: 0.05em;
        }
        .data {
            margin-top: 7em;
        }      
        .phone-pic {
            height: 30em;
            width: 23em;
            margin: 2.5em auto 0;
            display: block;
        }
        .phone .bottom {
            #show {
                display: none;
            }
        }      
        //media query for hero
        @media only screen and (max-width: 707px) {
            .hero {
            .right-nav, .left-nav {
                display: block;
            }
            .right-nav {
                float: right;
                color: #fffffe;
                font-size: 2em;
                cursor: pointer;
                margin: 0.15em 0.4em 0 0;
                h2 {
                    margin: 0;
                    padding: 0;
                }
            }
            .left-nav {
                float: left;
                img {
                    height: 5em;
                    width: 5em;
                    padding-left: 1.5em;
                }
            }
            }
        }
        @media only screen and (max-width: 900px) {
            .hero {
                background-image: url('../../images/home/coversharks-home-mobile-hero.png');
            }                   
           .phone .bottom { 
               #hide {
                 display: none;
                }
               #show {
                display: block;
                }
                .phone-pic {
                    height: 18em;
                    width: 19em;
                }
           }
        }      
        @media only screen and (max-width: 460px) {
            .hero .hero-text {
                .blue-header {
                    font-size: 2.2em;
                }
            }
        }  
        
        // cooler and text div
        .second {
            background-color: #fffffe;
            padding: 4em 0;
        }
        .cooler-pic {
            .cooler-watch {            
                img {
                    height: 17em;
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                }
            }
        }
        .flex {
            display: flex;
            display: -webkit-flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .cooler-msg {            
            text-transform: uppercase;
            h1 {
                margin: 0.4em 0;
                color: #3baf8a;
                font-family: WorkSans-ExtraBold, sans-serif;
                line-height: 1;
                width: 80%;
            }
            h3 {
                color: #9e9f9e;
                font-family: Roboto-BoldCondensed, sans-serif;
                padding-top: 0;
                margin: 0;
            }
            .little {
                text-transform: lowercase;
            }
            .reg-button {
                background-color: #343434;
                text-transform: uppercase;
                border: none;
                border-radius: 0.5em;
                color: #e4e4e3;
                height: 3em;
                width: 11em;   
                margin-top: 1.2em;
                font-family: Roboto-Condensed, sans-serif;
                letter-spacing: 0.15em;
                margin-top: 0.5em;            
            }
        }     
        //media queries for cooler div 
        @media only screen and (max-width: 900px) {
            .cooler-msg {
                text-align: center;
                h1 {
                    width: 90%;
                    margin: 0.75em auto;
                }
            }
        }     
        //diagonal phone and text div
        .blue-backgrnd {
            background-image: url('../../images/home/bkgrnd.svg');
            background-size: cover;
        }
        .text-msg {
            .text-msg-data {
                text-align: center;
                margin: 4.5em auto 0;
            }
            h1 {
                padding: 0;
                color: #2f88b2;
                font-size: 3em;
                line-height: 1;
                font-family: WorkSans-ExtraBold, sans-serif;
                margin: 0 auto;
                width: 90%;
            }
            p {
                width: 65%;
                color: #fffffe;
                margin: 1em auto;
                line-height: 1.8em;
                font-family: WorkSans-Regular, sans-serif;
            }
            .white-btn {
                background-color: #fffffe;
                color: #4d4d4c;
                border-radius: 0.5em;
                text-transform: uppercase;
                border: none;
                height: 3em;
                width: 11em;
                font-family: Roboto-Condensed, sans-serif;
            }
        }
        .diagonal-phone {
            text-align: center;
            img {
                height: 33em;
                width: 28em;
            }
        }
        //media queries for diagonal phone dv
        @media only screen and (max-width: 900px) {
            .diagonal-phone {
                display: none;
            }
            .blue-backgrnd {
                background-image: none;
                background-color: #182144;
            }
           .text-msg .text-msg-data {
                margin: 0;
                padding: 4em 0;
            }
        }     
        
        //overview div
        .gameplay-overview {
            background-color: #f2f1f1;
            text-align: center;
            padding: 2em 0;
            .disappearing {
                font-family: WorkSans-ExtraBold, sans-serif;
                text-transform: uppercase;
                color: #318bb6;
                padding: 0;
                letter-spacing: 0.05em;
            }
            img {
                height: 8em;
                width: 15em;
                padding-top: 1em;
            }
            .right-box {
                float: right;
            }
            .left-box {
                float: left;
            }
            .white-box {
                border-right: 2px solid #9e9f9e;
                border-bottom: 2px solid #9e9f9e;
                border-radius: 0.4em;
                background-color: #fffffe;
                height: 17em;
                width: 17em;
                display: inline-block;
                text-align: center;
                padding: 0.2em;
                h5 {
                    font-family: Roboto-BoldCondensed, sans-serif;
                }
                p {
                    font-family: WorkSans-Regular, sans-serif;
                    color: #636463;
                    font-size: 0.8em;
                    width: 90%;
                    margin: 0 auto;
                }
            }
            .bottom-info {
                h4 {
                    color: #2f88b2;
                    font-family: Roboto-BoldCondensed, sans-serif;
                    margin-top: 1em;
                    margin-bottom: 0;
                }
            }
            .subscribe-btn {
                background-color: #343434;
                text-transform: uppercase;
                border: none;
                border-radius: 0.5em;
                color: #e4e4e3;
                height: 3em;
                width: 11em;   
                margin-top: 1.2em;
                font-family: Roboto-Condensed, sans-serif;
                letter-spacing: 0.15em;
                margin-top: 0.5em; 
            }
            .subscriber {
                border-radius: 0.5em;
                height: 2em;
                width: 50%;
                margin: 1em 0;
            }
            ::-webkit-input-placeholder {
                 color: #b4b5b4;
                 text-align: center;
            }
            :-moz-placeholder { /* Firefox 18- */
                 color: #b4b5b4;  
                 text-align: center;
            }
            ::-moz-placeholder {  /* Firefox 19+ */
                 color: #b4b5b4; 
                 text-align: center;
            }
            :-ms-input-placeholder {  
                 color: #b4b5b4; 
                 text-align: center; 
            }
            .showing {
                display: none;
            }              
        }
        // media queries for overview div
         @media only screen and (max-width: 900px) {
           .gameplay-overview {
                .left-box, .right-box {
                    float: none;
                }
                .disappearing {
                    display: none;
                }
                img {
                    height: 60%;
                    width: 90%;
                }
                .white-box {
                    height: 65%;
                    width: 70%;
                }
                p {
                    width: 85%;
                    margin: 0 auto;
                    padding-bottom: 0.5em;
                }
                .card {
                    padding: 1em 0;
                }
            }
        }     
    }
}
