& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="home-vc"] {
        .hero {
            background-image: url('../../images/home/coversharks-web-hero.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            padding: 2.5em 0;
        }
        .hero-text {
            color: #fff;
            h1 {
                text-transform: uppercase;
                margin: 0;
                padding: 0;
            }
        }
        .blue-header {
            background-color: #318bb6;
            height: 8em;
            width: 25em;
            margin: 0 auto;
            text-align: center;
        }
        
    }
}
